@import '../scss/reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    // font-size: px;
    color: #0F1F1C ;
    background-color: #f6f6f6;
}
// <Переменные> ============================================================================================================================================
$yellow: #ffc222;
$container-width: 1270px;
$container-padding: 15px;
$secondary: rgba(15, 31, 28, 0.5);
$orange: #FF7C4E;
// </Переменные> ============================================================================================================================================

// <Утилиты> ============================================================================================================================================
.none {
    display: none !important;
}
.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -100000px;
    background: transparent;
    font-size: 0;
}
.no-scroll {
    overflow: hidden;
}
// </Утилиты> ============================================================================================================================================

// </Повторяшки> ============================================================================================================================================

// </Повторяшки> ============================================================================================================================================

// <Сетка> ============================================================================================================================================
.container {
    max-width: $container-width;
    padding: 0 $container-padding;
    margin: 0 auto;
}
.container-right {
    padding-left: calc( (100% - $container-width)/2 + $container-padding );
}
.container-left {
    padding-right: calc( (100% - $container-width)/2 + $container-padding );
}
// </Сетка> ============================================================================================================================================

// <Импорт> ============================================================================================================================================

@import '../scss/header';
@import '../scss/destinations';
@import '../scss/customers';
@import '../scss/cta';
@import '../scss/subscribe';
@import "../scss/footer";
@import "../scss/modal";
@import "../scss/adaptive";


